.containerView{
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    height:100%;
    width:100%;
}




/* ASIDE */

.asideContainer{
    max-height: 100vh;
    padding-top: 2rem;
    color: white;
    width: 100%;
    height: 100vh;
    background-color: #08192D;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.asideContainer button {
    width: 10vw;
    padding: 0.4rem;
    background-color: #006284;
    color: white;
    border: none;
    border-radius: 0.4rem;
    text-align: center;
}

.containerAgregarimagen {
    background-color: #006284;
    width: 324px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.containerButton {
    width: 324px;
    display: flex;
    justify-content: space-between;

}

.containerButton button {
    padding: 4px;
    width: 100px;
    border: none;
    color: white;
    border-radius: 5px;
}


/* MAIN */

.mainContainer{
    padding: 2rem 4rem 2rem 4rem;
    width: 100%;
    height: 100%;
    background-color: #006284;
    
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.containerButtonSucursal button{
    width: 10vw;
    padding: 0.4rem;
    background-color: #08192D;
    color: white;
    border: none;
    border-radius: 0.4rem;
    text-align: center;
}

